.uploadactivity input[type="radio"]:checked + span {
    background: #5cb85c;
    border-color: #5cb85c; }

.uploadactivity .involve__button-image {
    min-width: 160px; }
.uploadactivity .involve__button-image--active {
    background: #036806; }

.uploadactivity .involve__button-image::before {
    content: '';
    display: block;
    position: relative;
    width: 23px;
    height: 23px;
    margin-right: .5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

.uploadactivity button[data-descr="select-topic-btn"]::before {
    display: none; }

.uploadactivity .involve__button-image--desktop-mobile:before {
    background-image: url([[pix:local_sharewith|mob-desktop-w]]); }

.uploadactivity .involve__button-image--without-computer:before {
    background-image: url([[pix:local_sharewith|without-computer-w]]); }

.uploadactivity .involve__button-image--mikran:before {
    background-image: url([[pix:local_sharewith|mikran-w]]); }

.uploadactivity .involve__button-image--desktop:before {
    background-image: url([[pix:local_sharewith|desktop-w]]); }

.uploadactivity .involve__button-image--upload:before {
    background-image: url([[pix:local_sharewith|upload]]); }

.uploadactivity .involve__button-image--simulation:before {
    background-image: url([[pix:local_sharewith|simulation-w]]); }

.uploadactivity .involve__button-image--play:before {
    background-image: url([[pix:local_sharewith|play-w]]); }

.uploadactivity .involve__button-image--screen:before {
    background-image: url([[pix:local_sharewith|screen-w]]); }

.uploadactivity .involve__button-image--question:before {
    background-image: url([[pix:local_sharewith|question-w]]); }

.uploadactivity .involve__button-image--article:before {
    background-image: url([[pix:local_sharewith|article-w]]); }

.uploadactivity .involve__button-image--lection:before {
    background-image: url([[pix:local_sharewith|lection-w]]); }

.uploadactivity .tags-item {
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    margin: .3rem;
    padding: 0 .5rem;
    padding-right: 1.2rem;
    border-radius: .4rem;
    color: #fff; }

.uploadactivity .tags-item::after,
.uploadactivity .tags-item::before {
    position: absolute;
    content: '';
    right: 3px;
    top: 1rem;
    width: 1rem;
    height: 2px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.uploadactivity .tags-item::before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }

.uploadactivity .tags-item:hover::after,
.uploadactivity .tags-item:hover::before {
    background-color: #f45a5a; }

.uploadactivity [tabindex="-1"]:focus {
    outline: 0 !important; }

.uploadactivity [data-descr="addAssociation"] > .remove {
    display: none; }

.uploadactivity [data-descr="removeAssociation"] > .add {
    display: none; }

.uploadactivity input[type=range] {
    -webkit-appearance: none;
    width: 100%; }

.uploadactivity input[type=range]:focus {
    outline: none; }

.uploadactivity input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #220f44 -webkit-gradient(linear, left top, left bottom, from(#433360), to(#220f44)) repeat-x;
    background: #220f44 linear-gradient(180deg, #433360, #220f44) repeat-x;
    border-radius: .25rem; }

.uploadactivity input[type=range]::-webkit-slider-thumb {
    border: 1px solid #ced4da;
    height: 28px;
    width: 28px;
    background: #e9ecef;
    cursor: pointer;
    border-radius: .25rem;
    -webkit-appearance: none; }

.uploadactivity input[type=range]::-moz-range-track {
    width: 100%;
    height: 13.3px;
    cursor: pointer;
    box-shadow: 1.4px 1.4px 1.2px #000, 0 0 1.4px #0d0d0d;
    background: rgba(0, 108, 229, 0.7);
    border-radius: 1.9px;
    border: 0 solid #000101; }

.uploadactivity input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    border: 1px solid #000;
    height: 35px;
    width: 21px;
    border-radius: 6px;
    background: #fff;
    cursor: pointer; }

.uploadactivity input[type=range]::-ms-track {
    width: 100%;
    height: 13.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }

.uploadactivity input[type=range]::-ms-fill-lower {
    background: rgba(0, 96, 204, 0.7);
    border: 0 solid #000101;
    border-radius: 3.8px;
    box-shadow: 1.4px 1.4px 1.2px #000, 0 0 1.4px #0d0d0d; }

.uploadactivity input[type=range]::-ms-fill-upper {
    background: rgba(0, 108, 229, 0.7);
    border: 0 solid #000101;
    border-radius: 3.8px;
    box-shadow: 1.4px 1.4px 1.2px #000, 0 0 1.4px #0d0d0d; }

.uploadactivity input[type=range]::-ms-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    border: 1px solid #000;
    width: 21px;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
    height: 13.3px; }

.uploadactivity input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 108, 229, 0.7); }

.uploadactivity input[type=range]:focus::-ms-fill-upper {
    background: rgba(0, 120, 255, 0.7); }

.btn .spinner-border-sm.loading ~ span {
    display: none; }

.btn .spinner-border-sm.loading ~ span.spinner-loading {
    display: inline-block; }

.result-block {
    list-style-type: none;
    padding: 0;
    position: absolute;
    z-index: 99999;
    top: 74px;
    left: 0;
    border-radius: 5px;
    background-color: #fff;
    max-height: 250px;
    overflow-y: auto; }

.btn-secondary:not(.active):focus {
    color: #212529;
    background-color: #b1bbc4;
    background-image: none;
    border-color: #aab4bf; }

.sw-img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    display: inline-block; }

.sw-img img {
    width: 100%;
    height: auto;
    -ms-flex-item-align: center;
    align-self: center; }

.spinner-loading {
    display: none; }
