<select
    name = "sectionid"
    class="custom-select"
    data-descr="selectSection"
    data-trigger="manual"
    data-content = "{{#str}}selecttopic, local_sharewith{{/str}}"
    >
  <option>{{#str}}select_sub_topic, local_sharewith{{/str}}</option>
  {{#sections}}
    <option data-handler = "setSection" data-section_id = '{{section_id}}' data-place = '{{place}}' value="{{section_id}}">
    {{section_name}}
    </option>
  {{/sections}}
</select>
