{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sharewith/sections

    Sections template.

    Context variables required for this template:
    * sections - list of sections containing section_id, place, section_name

    Example context (json):
{
  "sections": [
    {
      "section_id": "1",
      "place": "1",
      "section_name": "General Section"
    }
  ]
}
}}
<select
    name = "sectionid"
    class="custom-select"
    data-descr="selectSection"
    data-trigger="manual"
    data-content = "{{#str}}selecttopic, local_sharewith{{/str}}"
    >
  <option>{{#str}}select_sub_topic, local_sharewith{{/str}}</option>
  {{#sections}}
    <option data-handler = "setSection" data-section_id = '{{section_id}}' data-place = '{{place}}' value="{{section_id}}">
    {{section_name}}
    </option>
  {{/sections}}
</select>
