<div class="modal-header">
    <h5 class="modal-title">{{#str}}select_desired_action, local_sharewith{{/str}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body d-flex justify-content-around mt-4 mb-4">
    <button type="button" class="btn btn-outline-primary" data-handler="selectCourse" >
        <i aria-hidden="true" title="{{#str}}eventactivitycopy, local_sharewith{{/str}}" class="icon fa fa-copy fa-fw"></i>
        {{#str}}eventactivitycopy, local_sharewith{{/str}}
    </button>
    <button type="button" class="btn btn-outline-primary" {{^activitysending}}data-handler="shareActivity" disabled {{/activitysending}}>
        <i aria-hidden="true" title="{{#str}}eventactivityshare, local_sharewith{{/str}}"  class="icon fa fa-share-alt fa-fw"></i>
        {{#str}}eventactivityshare, local_sharewith{{/str}}
    </button>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" type="button"  data-dismiss="modal">{{#str}}cancel, local_sharewith{{/str}}</button>
</div>
